<a href="https://colab.research.google.com/github/Pavani-2116/python/blob/main/PYTHON_DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Python?**

Python is a high-level, interpreted, dynamically typed, general-purpose programming language.

Who created it?

Guido van Rossum in the late 1980s.

Officially released in 1991.

Named after the comedy show "Monty Python", not the snake

Example

In [ ]:
print("Hello World!")
print("this is pavani")
print("Let's start learning python")

**What is Varibles?**

A label or name that stores data in memory.

In Python, you don’t need to declare a type before assigning a value.

Python uses dynamic typing.

Memory and Variables:
Python stores values in memory and binds variable names to those values.

Variable Naming Rules:
Must start with a letter or _
Cannot start with a number
No special symbols like @, -, !
Cannot use Python keywords

Example:

In [2]:
name = "Pavani"
print(name)
age = 20
print(age)
height = 5.5
print(height)
is_student = True
print(is_student)

Pavani
20
5.5
True

**PYTHON DATA TYPES**

Tells Python what kind of data a variable holds.

Python automatically identifies types using type() function.

**Basic (Primitive) Data Types**
These are the building blocks:

**int – Integer**
Whole numbers, positive or negative.

No decimal point.
 Internally: Python can handle arbitrarily large integers — no fixed size like other languages.

In [3]:
#example
a = 10
b = -121
c = 0
print(a,b,c)

10 -121 0

**float – Floating Point**
Numbers with a decimal point or in exponential form.
Note: Precision is limited due to binary floating-point representation.

In [4]:
# example
pi = 3.14
value = 2.5e3
print(pi ,value)

3.14 2500.0

**complex – Complex Numbers**
Used in math and engineering.

Format: a + bj

In [5]:
# example
z = 3 + 5j
print(z, z.real ,z.imag)

(3+5j) 3.0 5.0

**bool – Boolean**
Logical values: True or False

Used in conditions and logical operations.
Internally: True = 1, False = 0

In [6]:
# example
is_true = True
is_false = False
print(is_true,is_false)

True False

**str – String**
A sequence of Unicode characters

Strings are immutable — you can’t change them in-place.

In [8]:
#example
name = "pavani"
upper_case = name.upper()
print(upper_case)
print(name)

PAVANI
pavani

**Collection (Container) Data Types**

**list** – Ordered, Mutable Collection
Items can be any type, and you can change, add, or remove elements.
Lists can contain mixed types.

In [9]:
#example
my_list = [10,2.45,"pavani", True]
print(my_list)

[10, 2.45, 'pavani', True]

**tuple** – Ordered, Immutable Collection
Similar to lists, but cannot be changed once defined.
Use cases:

Fixed data (e.g., days of week)

Return multiple values from functions

In [12]:
latitude_longitude = (23.4,26.4)
print(latitude_longitude)
a = (4)
print(a, type(a))
t = (5,) # for singleton tuple
print(t, type(t))

(23.4, 26.4)
4 <class 'int'>
(5,) <class 'tuple'>

**set** – Unordered, Unique Elements
No duplicates.

Unordered = no indexing.
Common uses:

Fast membership testing: if "red" in colors

Set operations: union, intersection

In [13]:
#example
colors = {"red", "green", "blue"}
print(colors)
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)  # Union
print(a & b)  # Intersection

{'blue', 'green', 'red'}
{1, 2, 3, 4, 5}
{3}

**dict** – Key-Value Pairs (Mapping)
Used to store related info as key-value.
Keys must be immutable (str, int, tuple).
 Values can be any type.

In [14]:
#example
students = {"name": "pavani", "age": 20, "grade": "A"}
print(students)
print(students["name"])

{'name': 'pavani', 'age': 20, 'grade': 'A'}
pavani

**NoneType**:
**None** Special type with a single value: None

Used to represent absence of value.

In [15]:
result = None
if result is None:
    print("No result yet.")

No result yet.

**What is a Comment?**

A line ignored by Python when running the code.

Used to explain, organize, or temporarily disable code.

**Types:**
Single-line: starts with #

Multi-line: use triple quotes (''' or """)

In [16]:
# This line tells your name
name = "Pavani"

'''
This is a multi-line comment.
Used for bigger explanations.
'''
print(name)

Pavani

**Input & Output**

**OUTPUT** in Python using print()
 Basic Usage:
The print() function displays text or variable values to the screen.
Commas automatically add spaces.

No need for type conversion when using ,

In [17]:
#example
print("Hello, World!")
name = "Pavani"
age = 22
print(name)
print("Age:", age)
print("My name is", name, "and I am", age, "years old.")

Hello, World!
Pavani
Age: 22
My name is Pavani and I am 22 years old.

**String Formatting** (3 Ways)
F-strings (Best, Python 3.6+)
.format()
% Formatting (Old Style)

In [20]:
#example
name = input("enter your name:")
age = int(input("enter your age:"))
print(f"My name is {name} and age is {age}")
print("My name is {} and age is {}".format(name,age))
print("My name is %s and age is %d ." % (name,age))

enter your name:pavani
enter your age:20
My name is pavani and age is 20
My name is pavani and age is 20
My name is pavani and age is 20 .

**INPUT** in Python using input()
 Basic Input
 Always returns a string type!
 Type Conversion:
Since input() returns a string, you must convert it for numbers:

In [21]:
#example
name = input("Enter your name: ")
print("Hello", name)
age = int(input("Enter your age: "))
height = float(input("Enter your height in cm: "))

Enter your name: pavani
Hello pavani
Enter your age: 20
Enter your height in cm: 5.5